@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    var userRole = Context.Session.GetInt32("UserRole");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaIncidentesSeguridad</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaIncidentesSeguridad.layout.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="logo">
            <img class="logo-text" src="~/img/Logo.png" alt="TicketSend Logo" class="logo" />

            @if (userRole == 1)
            {
                <a class="navbar-brand @(currentController == "Home" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            }
            else if (userRole == 2)
            {
                <a class="navbar-brand @(currentController == "AdminIntermedio" ? "active" : "")" asp-area="" asp-controller="AdminIntermedio" asp-action="Index">Ticket</a>
            }
            else if(userRole == 3)
            {
                <a class="navbar-brand @(currentController == "AdminGeneral" ? "active" : "")" asp-area="" asp-controller="AdminGeneral" asp-action="Index">Dashboard</a>

            }
        </div>

        <div class="editor-text">
            @Context.Session.GetString("UserName")
            <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Login">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16" aria-labelledby="logoutTitle">
                    <title id="logoutTitle">Cerrar sesión</title>
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                </svg>
            </a>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="names">
            <span class="member">Regina Sanchez </span>
            <span class="member">Agustin Cardelli</span>
            <span class="member">Gaston Estevez</span>
            <span class="member">Santiago Woscoff</span>
            <span class="member">Franco Coppola</span>
            <span class="member">Lautaro Desouches</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
