@using SistemaIncidentesSeguridad.EF;
@model List<Ticket>;
@{
    ViewData["Title"] = "Home Page";
}

<main class="main-content">
    <h1 class="panel-title">Panel de editor de {nombre_usuario}!!</h1>

    <div class="table-container">
        <table class="table">
            <thead class="table-header">
                <tr>
                    <th>Usuario</th>
                    <th>Título</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>Prioridad</th>
                    <th>Creado el</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Model)
                {
                    <tr class="table-row">
                        <td class="table-cell">@ticket.IdUsuarioNavigation.Nombre</td>
                        <td class="table-cell">@ticket.Titulo</td>
                        <td class="table-cell">@ticket.Descripcion</td>
                        <td class="table-cell">@ticket.IdEstadoNavigation.Nombre</td>
                        <td class="table-cell">@ticket.IdPrioridadNavigation.Nombre</td>
                        <td class="table-cell">@ticket.FechaCreacion.ToString("dd/MM/yyyy")</td>
                        <td class="table-cell">
                            <a href="#" class="action-btn btn-blue" title="Ver detalles">Ver</a>
                            <a href="#" class="action-btn btn-yellow" title="Editar">Editar</a>
                        </td>
                    </tr>
                }
            
            </tbody>
        </table>
    </div>
</main>