@using SistemaIncidentesSeguridad.EF;
@model List<Ticket>;
@{
    ViewData["Title"] = "Home Page";
}

<main class="main-content">
    <h1 class="panel-title">Panel de editor</h1>

    <h2>Tickets pendientes</h2>
    <div class="table-container">
        <table class="table">
            <thead class="table-header">
                <tr>
                    <th>Usuario</th>
                    <th>Título</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>Prioridad</th>
                    <th>Creado el</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Model)
                {
                    <tr class="table-row">
                        <td class="table-cell">@ticket.IdUsuarioNavigation.Nombre</td>
                        <td class="table-cell">@ticket.Titulo</td>
                        <td class="table-cell">@ticket.Descripcion</td>
                        <td class="table-cell">@ticket.IdEstadoNavigation.Nombre</td>
                        <td class="table-cell">@ticket.IdPrioridadNavigation.Nombre</td>
                        <td class="table-cell">@ticket.FechaCreacion.ToString("dd/MM/yyyy")</td>
                        <td class="table-cell">
                            <a asp-controller="AdminIntermedio" asp-action="ResponderTiket" asp-route-id="@ticket.Id" class="action-btn btn-yellow" title="Responder">Responder</a>
                        </td>
                    </tr>
                }
            
            </tbody>
        </table>
    </div>

    <hr />

    <h2>Tickets respondidos</h2>
    <table class= "table-container">
        <thead class="table-header">
            <tr>
                <th>Título</th>
                <th>Estado</th>
                <th>Comentarios</th>
                <th>Respondido el</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var ticketModel in (List<TicketModel>)ViewBag.TicketsRespondidos)
            {
                <tr>
                    <td>@ticketModel.Ticket.Titulo</td>
                    <td>@ticketModel.Ticket.IdEstadoNavigation.Nombre</td>
                    <td>@ticketModel.UltimoComentario</td>
                    <td>@ticketModel.FechaUltimaRespuesta?.ToString("dd/MM/yyyy")</td>

                </tr>
            }
        </tbody>
    </table>

</main>